<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>WaterDragonWalkF00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{60, 63}, {167, 123}}</string>
			<key>spriteOffset</key>
			<string>{6, 13}</string>
			<key>spriteSize</key>
			<string>{167, 123}</string>
			<key>spriteSourceSize</key>
			<string>{275, 275}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 375}, {167, 123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WaterDragonWalkF01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{60, 63}, {169, 123}}</string>
			<key>spriteOffset</key>
			<string>{7, 13}</string>
			<key>spriteSize</key>
			<string>{169, 123}</string>
			<key>spriteSourceSize</key>
			<string>{275, 275}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{336, 510}, {169, 123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WaterDragonWalkF02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{60, 65}, {169, 121}}</string>
			<key>spriteOffset</key>
			<string>{7, 12}</string>
			<key>spriteSize</key>
			<string>{169, 121}</string>
			<key>spriteSourceSize</key>
			<string>{275, 275}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{505, 510}, {169, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WaterDragonWalkF03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{61, 66}, {169, 119}}</string>
			<key>spriteOffset</key>
			<string>{8, 12}</string>
			<key>spriteSize</key>
			<string>{169, 119}</string>
			<key>spriteSourceSize</key>
			<string>{275, 275}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{674, 510}, {169, 119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WaterDragonWalkF04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{62, 67}, {167, 119}}</string>
			<key>spriteOffset</key>
			<string>{8, 11}</string>
			<key>spriteSize</key>
			<string>{167, 119}</string>
			<key>spriteSourceSize</key>
			<string>{275, 275}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{334, 375}, {167, 119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WaterDragonWalkF05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{60, 69}, {165, 119}}</string>
			<key>spriteOffset</key>
			<string>{5, 9}</string>
			<key>spriteSize</key>
			<string>{165, 119}</string>
			<key>spriteSourceSize</key>
			<string>{275, 275}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{658, 123}, {165, 119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WaterDragonWalkF06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{58, 67}, {167, 123}}</string>
			<key>spriteOffset</key>
			<string>{4, 9}</string>
			<key>spriteSize</key>
			<string>{167, 123}</string>
			<key>spriteSourceSize</key>
			<string>{275, 275}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{501, 375}, {167, 123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WaterDragonWalkF07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{55, 63}, {167, 127}}</string>
			<key>spriteOffset</key>
			<string>{1, 11}</string>
			<key>spriteSize</key>
			<string>{167, 127}</string>
			<key>spriteSourceSize</key>
			<string>{275, 275}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{829, 246}, {167, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WaterDragonWalkF08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{54, 59}, {167, 133}}</string>
			<key>spriteOffset</key>
			<string>{0, 12}</string>
			<key>spriteSize</key>
			<string>{167, 133}</string>
			<key>spriteSourceSize</key>
			<string>{275, 275}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 510}, {167, 133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WaterDragonWalkF09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{54, 57}, {167, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, 13}</string>
			<key>spriteSize</key>
			<string>{167, 135}</string>
			<key>spriteSourceSize</key>
			<string>{275, 275}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{835, 375}, {167, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WaterDragonWalkF10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{54, 57}, {167, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, 13}</string>
			<key>spriteSize</key>
			<string>{167, 135}</string>
			<key>spriteSourceSize</key>
			<string>{275, 275}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{668, 375}, {167, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WaterDragonWalkF11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{55, 62}, {165, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, 11}</string>
			<key>spriteSize</key>
			<string>{165, 129}</string>
			<key>spriteSourceSize</key>
			<string>{275, 275}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 246}, {165, 129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WaterDragonWalkF12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{56, 68}, {165, 123}}</string>
			<key>spriteOffset</key>
			<string>{1, 8}</string>
			<key>spriteSize</key>
			<string>{165, 123}</string>
			<key>spriteSourceSize</key>
			<string>{275, 275}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{823, 123}, {165, 123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WaterDragonWalkF13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{58, 66}, {163, 123}}</string>
			<key>spriteOffset</key>
			<string>{2, 10}</string>
			<key>spriteSize</key>
			<string>{163, 123}</string>
			<key>spriteSourceSize</key>
			<string>{275, 275}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{801, 0}, {163, 123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WaterDragonWalkF14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{59, 64}, {165, 123}}</string>
			<key>spriteOffset</key>
			<string>{4, 12}</string>
			<key>spriteSize</key>
			<string>{165, 123}</string>
			<key>spriteSourceSize</key>
			<string>{275, 275}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{165, 246}, {165, 123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WaterDragonWalkF15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{60, 63}, {165, 123}}</string>
			<key>spriteOffset</key>
			<string>{5, 13}</string>
			<key>spriteSize</key>
			<string>{165, 123}</string>
			<key>spriteSourceSize</key>
			<string>{275, 275}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{330, 246}, {165, 123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WaterDragonWalkF16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{60, 63}, {167, 123}}</string>
			<key>spriteOffset</key>
			<string>{6, 13}</string>
			<key>spriteSize</key>
			<string>{167, 123}</string>
			<key>spriteSourceSize</key>
			<string>{275, 275}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{167, 375}, {167, 123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WaterDragonWalkN00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{60, 80}, {161, 109}}</string>
			<key>spriteOffset</key>
			<string>{3, 3}</string>
			<key>spriteSize</key>
			<string>{161, 109}</string>
			<key>spriteSourceSize</key>
			<string>{275, 275}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{479, 0}, {161, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WaterDragonWalkN01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{60, 77}, {163, 113}}</string>
			<key>spriteOffset</key>
			<string>{4, 4}</string>
			<key>spriteSize</key>
			<string>{163, 113}</string>
			<key>spriteSourceSize</key>
			<string>{275, 275}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 123}, {163, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WaterDragonWalkN02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{60, 74}, {165, 117}}</string>
			<key>spriteOffset</key>
			<string>{5, 5}</string>
			<key>spriteSize</key>
			<string>{165, 117}</string>
			<key>spriteSourceSize</key>
			<string>{275, 275}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{493, 123}, {165, 117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WaterDragonWalkN03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{61, 72}, {165, 117}}</string>
			<key>spriteOffset</key>
			<string>{6, 7}</string>
			<key>spriteSize</key>
			<string>{165, 117}</string>
			<key>spriteSourceSize</key>
			<string>{275, 275}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{163, 123}, {165, 117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WaterDragonWalkN04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{61, 73}, {167, 115}}</string>
			<key>spriteOffset</key>
			<string>{7, 7}</string>
			<key>spriteSize</key>
			<string>{167, 115}</string>
			<key>spriteSourceSize</key>
			<string>{275, 275}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{662, 246}, {167, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WaterDragonWalkN05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{60, 76}, {169, 111}}</string>
			<key>spriteOffset</key>
			<string>{7, 6}</string>
			<key>spriteSize</key>
			<string>{169, 111}</string>
			<key>spriteSourceSize</key>
			<string>{275, 275}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{167, 510}, {169, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WaterDragonWalkN06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{57, 79}, {173, 109}}</string>
			<key>spriteOffset</key>
			<string>{6, 4}</string>
			<key>spriteSize</key>
			<string>{173, 109}</string>
			<key>spriteSourceSize</key>
			<string>{275, 275}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{173, 643}, {173, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WaterDragonWalkN07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{56, 81}, {173, 107}}</string>
			<key>spriteOffset</key>
			<string>{5, 3}</string>
			<key>spriteSize</key>
			<string>{173, 107}</string>
			<key>spriteSourceSize</key>
			<string>{275, 275}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 643}, {173, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WaterDragonWalkN08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{55, 80}, {175, 107}}</string>
			<key>spriteOffset</key>
			<string>{5, 4}</string>
			<key>spriteSize</key>
			<string>{175, 107}</string>
			<key>spriteSourceSize</key>
			<string>{275, 275}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{519, 643}, {175, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WaterDragonWalkN09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{55, 75}, {173, 113}}</string>
			<key>spriteOffset</key>
			<string>{4, 6}</string>
			<key>spriteSize</key>
			<string>{173, 113}</string>
			<key>spriteSourceSize</key>
			<string>{275, 275}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{346, 643}, {173, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WaterDragonWalkN10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{55, 72}, {171, 115}}</string>
			<key>spriteOffset</key>
			<string>{3, 8}</string>
			<key>spriteSize</key>
			<string>{171, 115}</string>
			<key>spriteSourceSize</key>
			<string>{275, 275}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{843, 510}, {171, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WaterDragonWalkN11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{56, 71}, {167, 117}}</string>
			<key>spriteOffset</key>
			<string>{2, 8}</string>
			<key>spriteSize</key>
			<string>{167, 117}</string>
			<key>spriteSourceSize</key>
			<string>{275, 275}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{495, 246}, {167, 117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WaterDragonWalkN12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{57, 75}, {165, 113}}</string>
			<key>spriteOffset</key>
			<string>{2, 6}</string>
			<key>spriteSize</key>
			<string>{165, 113}</string>
			<key>spriteSourceSize</key>
			<string>{275, 275}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 123}, {165, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WaterDragonWalkN13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{58, 84}, {161, 105}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{161, 105}</string>
			<key>spriteSourceSize</key>
			<string>{275, 275}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{640, 0}, {161, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WaterDragonWalkN14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{59, 90}, {159, 99}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{159, 99}</string>
			<key>spriteSourceSize</key>
			<string>{275, 275}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {159, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WaterDragonWalkN15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{60, 84}, {159, 105}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{159, 105}</string>
			<key>spriteSourceSize</key>
			<string>{275, 275}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{159, 0}, {159, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WaterDragonWalkN16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{60, 80}, {161, 109}}</string>
			<key>spriteOffset</key>
			<string>{3, 3}</string>
			<key>spriteSize</key>
			<string>{161, 109}</string>
			<key>spriteSourceSize</key>
			<string>{275, 275}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{318, 0}, {161, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>WaterDragonWalkNF.pvr</string>
			<key>textureFileExtension</key>
			<string>.pvr.ccz</string>
			<key>coordinatesFileName</key>
			<string>WaterDragonWalkNF</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>