<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>AllianceMageWalkF00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{89, 35}, {96, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{756, 906}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageWalkF01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{89, 35}, {96, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1260, 302}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageWalkF02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{89, 34}, {96, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1008, 604}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageWalkF03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{88, 34}, {98, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 604}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageWalkF04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{85, 34}, {100, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1260, 906}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageWalkF05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{82, 34}, {102, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1008, 302}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageWalkF06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{79, 34}, {106, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1008, 906}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageWalkF07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{78, 35}, {106, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageWalkF08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{78, 35}, {106, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1764, 906}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageWalkF09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{78, 35}, {108, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{756, 302}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageWalkF10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{80, 35}, {106, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1008, 0}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageWalkF11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{82, 35}, {104, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1512, 604}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageWalkF12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{85, 34}, {100, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{504, 604}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageWalkF13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{89, 34}, {96, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{504, 302}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageWalkF14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{89, 34}, {96, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1512, 302}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageWalkF15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{89, 35}, {96, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 302}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageWalkF16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{89, 35}, {96, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1764, 302}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageWalkN00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{74, 35}, {112, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{252, 906}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageWalkN01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{73, 35}, {112, 140}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 906}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageWalkN02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{73, 36}, {112, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{252, 604}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageWalkN03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{74, 35}, {110, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1764, 604}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageWalkN04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{76, 35}, {108, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{252, 1208}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageWalkN05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{78, 34}, {106, 140}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1260, 0}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageWalkN06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{81, 34}, {104, 140}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{504, 0}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageWalkN07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{84, 35}, {102, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{252, 0}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageWalkN08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{87, 36}, {98, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1260, 604}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageWalkN09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{88, 36}, {96, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{756, 0}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageWalkN10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{87, 36}, {98, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1764, 0}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageWalkN11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{86, 36}, {98, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{252, 302}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageWalkN12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{85, 35}, {100, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1208}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageWalkN13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{82, 35}, {104, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1512, 0}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageWalkN14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{79, 34}, {108, 140}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1512, 906}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageWalkN15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{76, 34}, {110, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{504, 906}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageWalkN16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{74, 35}, {112, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{756, 604}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>AllianceMageWalkNF@2x</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>AllianceMageWalkNF@2x</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>