<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>AllianceArcherAttackF00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{85, 70}, {104, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1008, 604}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherAttackF01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{85, 66}, {98, 140}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1512, 0}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherAttackF02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{74, 48}, {108, 158}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1512, 906}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherAttackF03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{67, 39}, {114, 168}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{252, 302}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherAttackF04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{64, 39}, {122, 170}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{252, 906}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherAttackF05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{74, 36}, {120, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{504, 906}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherAttackF06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{82, 29}, {122, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1008, 302}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherAttackF07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{89, 36}, {110, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1208}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherAttackF08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{94, 25}, {102, 184}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1512, 604}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherAttackF09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 25}, {190, 184}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1764, 906}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherAttackF10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 26}, {200, 182}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1764, 0}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherAttackF11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{90, 27}, {108, 182}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{756, 906}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherAttackF12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{90, 30}, {104, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 604}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherAttackF13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{90, 38}, {98, 170}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1260, 604}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherAttackF14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{90, 52}, {92, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1008, 0}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherAttackF15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{89, 70}, {90, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{756, 302}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherAttackF16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{85, 70}, {104, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{504, 0}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherAttackN00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{57, 76}, {114, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1512, 302}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherAttackN01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{48, 77}, {120, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{504, 604}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherAttackN02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{41, 77}, {126, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1260, 0}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherAttackN03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{41, 64}, {124, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{504, 302}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherAttackN04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{46, 55}, {118, 160}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 302}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherAttackN05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{57, 48}, {110, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{756, 604}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherAttackN06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{68, 42}, {106, 170}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1764, 604}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherAttackN07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{65, 37}, {114, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{252, 0}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherAttackN08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{73, 47}, {112, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1008, 906}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherAttackN09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 49}, {184, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1260, 906}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherAttackN10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 48}, {184, 204}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1764, 302}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherAttackN11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{76, 51}, {108, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{252, 1208}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherAttackN12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{68, 58}, {114, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{756, 0}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherAttackN13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{54, 71}, {124, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1260, 302}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherAttackN14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{46, 74}, {126, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{252, 604}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherAttackN15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{47, 75}, {122, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 906}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherAttackN16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{57, 76}, {114, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>AllianceArcherAttackNF@2x</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>AllianceArcherAttackNF@2x</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>