<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>AllianceArcherWalkF00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{48, 39}, {41, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{635, 152}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherWalkF01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{50, 39}, {39, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 152}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherWalkF02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{52, 39}, {35, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{254, 456}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherWalkF03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{54, 38}, {33, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 456}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherWalkF04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{54, 38}, {33, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{508, 0}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherWalkF05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{53, 37}, {35, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 304}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherWalkF06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{50, 37}, {37, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{381, 0}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherWalkF07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{48, 38}, {39, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{889, 456}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherWalkF08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{46, 38}, {43, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{254, 152}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherWalkF09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{46, 39}, {43, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{508, 304}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherWalkF10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{47, 39}, {41, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{127, 0}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherWalkF11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{48, 38}, {39, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{381, 304}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherWalkF12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{50, 38}, {37, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{762, 456}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherWalkF13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{51, 37}, {37, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{381, 152}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherWalkF14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{49, 38}, {39, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{635, 456}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherWalkF15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{48, 38}, {41, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{254, 0}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherWalkF16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{48, 39}, {41, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{508, 456}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherWalkN00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{45, 39}, {43, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{635, 304}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherWalkN01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{46, 39}, {43, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{127, 456}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherWalkN02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{46, 39}, {43, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{254, 304}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherWalkN03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{47, 39}, {41, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{889, 304}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherWalkN04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{49, 38}, {39, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{127, 152}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherWalkN05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{51, 38}, {35, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{381, 456}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherWalkN06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{49, 38}, {37, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{889, 152}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherWalkN07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{48, 38}, {39, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 608}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherWalkN08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{48, 39}, {39, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{762, 0}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherWalkN09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{50, 39}, {37, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{889, 0}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherWalkN10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{53, 39}, {33, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherWalkN11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{54, 39}, {33, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{635, 0}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherWalkN12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{54, 38}, {33, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{127, 304}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherWalkN13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{51, 38}, {37, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{127, 608}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherWalkN14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{49, 38}, {39, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{762, 304}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherWalkN15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{47, 38}, {41, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{762, 152}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceArcherWalkN16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{45, 39}, {43, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{508, 152}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>AllianceArcherWalkNF.pvr</string>
			<key>textureFileExtension</key>
			<string>.pvr.ccz</string>
			<key>coordinatesFileName</key>
			<string>AllianceArcherWalkNF</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>