<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>AllianceMageGenericF00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 17}, {43, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{635, 152}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageGenericF01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 17}, {45, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{254, 152}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageGenericF02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{45, 17}, {43, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{762, 152}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageGenericF03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{45, 17}, {43, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{127, 0}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageGenericF04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{45, 17}, {45, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageGenericF05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{45, 17}, {45, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{635, 304}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageGenericF06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{45, 17}, {45, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{762, 0}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageGenericF07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{45, 17}, {45, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{508, 152}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageGenericF08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 17}, {45, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{127, 152}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageGenericF09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 17}, {45, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{254, 0}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageGenericF10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 17}, {43, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{381, 0}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageGenericN00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{43, 19}, {55, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{889, 0}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageGenericN01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{39, 18}, {59, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 304}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageGenericN02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 18}, {61, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{889, 152}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageGenericN03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 18}, {63, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 152}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageGenericN04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 18}, {65, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{381, 152}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageGenericN05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 18}, {65, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{508, 304}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageGenericN06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 18}, {65, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{381, 304}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageGenericN07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 18}, {65, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{254, 304}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageGenericN08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 18}, {63, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{508, 0}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageGenericN09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 18}, {59, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{635, 0}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceMageGenericN10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{43, 19}, {55, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{127, 304}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>AllianceMageGenericNF</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>AllianceMageGenericNF</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>