<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>AllianceWarriorGenericLR00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 31}, {43, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{254, 152}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceWarriorGenericLR01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{42, 31}, {47, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 304}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceWarriorGenericLR02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{37, 31}, {53, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceWarriorGenericLR03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{35, 31}, {55, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{127, 304}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceWarriorGenericLR04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 31}, {57, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{254, 0}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceWarriorGenericLR05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 31}, {57, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{381, 0}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceWarriorGenericLR06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 31}, {57, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{127, 152}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceWarriorGenericLR07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 31}, {57, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{127, 0}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceWarriorGenericLR08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 31}, {57, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{254, 304}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceWarriorGenericLR09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 31}, {51, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{381, 304}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceWarriorGenericLR10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{43, 31}, {47, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 152}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AllianceWarriorGenericLR11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 31}, {43, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{381, 152}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>AllianceWarriorGenericLR</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>AllianceWarriorGenericLR</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>