<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>CarpenterWalkF00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 7}, {55, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 85}</string>
			<key>spriteSourceSize</key>
			<string>{75, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{225, 255}, {75, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CarpenterWalkF01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 7}, {55, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 85}</string>
			<key>spriteSourceSize</key>
			<string>{75, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 170}, {75, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CarpenterWalkF02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 6}, {55, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 85}</string>
			<key>spriteSourceSize</key>
			<string>{75, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{225, 170}, {75, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CarpenterWalkF03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 6}, {53, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 85}</string>
			<key>spriteSourceSize</key>
			<string>{75, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{75, 85}, {75, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CarpenterWalkF04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 5}, {53, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 85}</string>
			<key>spriteSourceSize</key>
			<string>{75, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{300, 340}, {75, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CarpenterWalkF05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 5}, {55, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 85}</string>
			<key>spriteSourceSize</key>
			<string>{75, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{150, 0}, {75, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CarpenterWalkF06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 6}, {55, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 85}</string>
			<key>spriteSourceSize</key>
			<string>{75, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{375, 0}, {75, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CarpenterWalkF07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 7}, {57, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 85}</string>
			<key>spriteSourceSize</key>
			<string>{75, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{150, 425}, {75, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CarpenterWalkF08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 8}, {57, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 85}</string>
			<key>spriteSourceSize</key>
			<string>{75, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{225, 340}, {75, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CarpenterWalkF09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 8}, {57, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 85}</string>
			<key>spriteSourceSize</key>
			<string>{75, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{225, 425}, {75, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CarpenterWalkF10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 7}, {55, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 85}</string>
			<key>spriteSourceSize</key>
			<string>{75, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{375, 170}, {75, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CarpenterWalkF11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 7}, {55, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 85}</string>
			<key>spriteSourceSize</key>
			<string>{75, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 340}, {75, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CarpenterWalkF12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 6}, {55, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 85}</string>
			<key>spriteSourceSize</key>
			<string>{75, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{75, 170}, {75, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CarpenterWalkF13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 6}, {53, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 85}</string>
			<key>spriteSourceSize</key>
			<string>{75, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 425}, {75, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CarpenterWalkF14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 6}, {55, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 85}</string>
			<key>spriteSourceSize</key>
			<string>{75, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{150, 85}, {75, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CarpenterWalkF15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 6}, {55, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 85}</string>
			<key>spriteSourceSize</key>
			<string>{75, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{375, 340}, {75, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CarpenterWalkF16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 7}, {55, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 85}</string>
			<key>spriteSourceSize</key>
			<string>{75, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{75, 255}, {75, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CarpenterWalkN00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 10}, {61, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 85}</string>
			<key>spriteSourceSize</key>
			<string>{75, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{300, 0}, {75, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CarpenterWalkN01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 10}, {63, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 85}</string>
			<key>spriteSourceSize</key>
			<string>{75, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{300, 85}, {75, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CarpenterWalkN02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 10}, {63, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 85}</string>
			<key>spriteSourceSize</key>
			<string>{75, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 85}, {75, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CarpenterWalkN03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 9}, {63, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 85}</string>
			<key>spriteSourceSize</key>
			<string>{75, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{75, 340}, {75, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CarpenterWalkN04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 9}, {63, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 85}</string>
			<key>spriteSourceSize</key>
			<string>{75, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{150, 255}, {75, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CarpenterWalkN05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 9}, {63, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 85}</string>
			<key>spriteSourceSize</key>
			<string>{75, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{75, 425}, {75, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CarpenterWalkN06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 9}, {63, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 85}</string>
			<key>spriteSourceSize</key>
			<string>{75, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{375, 255}, {75, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CarpenterWalkN07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 10}, {65, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 85}</string>
			<key>spriteSourceSize</key>
			<string>{75, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{300, 170}, {75, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CarpenterWalkN08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 11}, {65, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 85}</string>
			<key>spriteSourceSize</key>
			<string>{75, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{75, 0}, {75, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CarpenterWalkN09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 11}, {65, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 85}</string>
			<key>spriteSourceSize</key>
			<string>{75, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {75, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CarpenterWalkN10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 11}, {65, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 85}</string>
			<key>spriteSourceSize</key>
			<string>{75, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{150, 340}, {75, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CarpenterWalkN11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 10}, {65, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 85}</string>
			<key>spriteSourceSize</key>
			<string>{75, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{375, 85}, {75, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CarpenterWalkN12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 10}, {65, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 85}</string>
			<key>spriteSourceSize</key>
			<string>{75, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{150, 170}, {75, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CarpenterWalkN13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 9}, {63, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 85}</string>
			<key>spriteSourceSize</key>
			<string>{75, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{225, 85}, {75, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CarpenterWalkN14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 9}, {63, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 85}</string>
			<key>spriteSourceSize</key>
			<string>{75, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{225, 0}, {75, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CarpenterWalkN15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 9}, {63, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 85}</string>
			<key>spriteSourceSize</key>
			<string>{75, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{300, 255}, {75, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CarpenterWalkN16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 10}, {61, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 85}</string>
			<key>spriteSourceSize</key>
			<string>{75, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 255}, {75, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>LegionArcherGenericLR.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>CarpenterWalkNF.pvr</string>
			<key>textureFileExtension</key>
			<string>.pvr.ccz</string>
			<key>coordinatesFileName</key>
			<string>CarpenterWalkNF</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>