<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>LegionWarriorWalkLR00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{39, 31}, {53, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{635, 0}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkLR01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{41, 31}, {49, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{127, 0}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkLR02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 30}, {43, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 304}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkLR03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{49, 30}, {35, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 152}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkLR04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{49, 30}, {35, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{762, 0}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkLR05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{48, 30}, {37, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{508, 152}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkLR06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{47, 30}, {37, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{127, 152}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkLR07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{41, 31}, {45, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{889, 152}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkLR08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{39, 32}, {49, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{254, 152}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkLR09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 32}, {47, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{762, 152}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkLR10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 32}, {41, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkLR11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{49, 31}, {35, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{889, 0}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkLR12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{49, 31}, {35, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{381, 152}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkLR13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{47, 30}, {37, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{508, 0}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkLR14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{47, 30}, {41, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{381, 0}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkLR15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{42, 30}, {49, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{635, 152}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkLR16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{39, 31}, {53, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{254, 0}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>LegionWarriorWalkLRpng</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>LegionWarriorWalkLR</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>