<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>LegionMageGenericD00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{55, 25}, {43, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{889, 0}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageGenericD01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{55, 24}, {41, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{381, 152}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageGenericD02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{55, 24}, {41, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{254, 0}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageGenericD03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{55, 24}, {41, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{762, 152}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageGenericD04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{55, 24}, {39, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{127, 152}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageGenericD05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{55, 24}, {39, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageGenericD06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{55, 23}, {39, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{127, 0}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageGenericD07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{55, 23}, {39, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{508, 152}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageGenericD08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{55, 23}, {39, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{381, 304}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageGenericD09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{56, 24}, {39, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{508, 304}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageGenericD10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{55, 24}, {41, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{127, 304}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageGenericD11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{55, 25}, {43, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{254, 152}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageGenericU00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{42, 27}, {47, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 304}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageGenericU01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{42, 26}, {49, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{635, 0}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageGenericU02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{42, 24}, {49, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{635, 152}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageGenericU03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{43, 22}, {47, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{762, 0}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageGenericU04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 22}, {47, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{381, 0}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageGenericU05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 22}, {47, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{762, 304}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageGenericU06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 22}, {47, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{254, 304}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageGenericU07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{45, 22}, {47, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{889, 152}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageGenericU08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{45, 22}, {47, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{635, 304}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageGenericU09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 24}, {47, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{889, 304}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageGenericU10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{43, 27}, {47, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 152}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageGenericU11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{42, 27}, {47, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 150}</string>
			<key>spriteSourceSize</key>
			<string>{125, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{508, 0}, {125, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>LegionMageGenericUD</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>LegionMageGenericUD</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>