<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>LegionWarriorWalkF00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 9}, {43, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 85}</string>
			<key>spriteSourceSize</key>
			<string>{73, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{146, 170}, {73, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkF01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 9}, {41, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 85}</string>
			<key>spriteSourceSize</key>
			<string>{73, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{219, 85}, {73, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkF02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 8}, {41, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 85}</string>
			<key>spriteSourceSize</key>
			<string>{73, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{438, 85}, {73, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkF03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 8}, {39, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 85}</string>
			<key>spriteSourceSize</key>
			<string>{73, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{73, 85}, {73, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkF04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 8}, {39, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 85}</string>
			<key>spriteSourceSize</key>
			<string>{73, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{146, 85}, {73, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkF05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 8}, {39, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 85}</string>
			<key>spriteSourceSize</key>
			<string>{73, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{365, 0}, {73, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkF06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 8}, {39, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 85}</string>
			<key>spriteSourceSize</key>
			<string>{73, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{219, 170}, {73, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkF07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 9}, {43, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 85}</string>
			<key>spriteSourceSize</key>
			<string>{73, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 255}, {73, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkF08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 10}, {45, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 85}</string>
			<key>spriteSourceSize</key>
			<string>{73, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 85}, {73, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkF09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 10}, {43, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 85}</string>
			<key>spriteSourceSize</key>
			<string>{73, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{73, 0}, {73, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkF10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 9}, {39, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 85}</string>
			<key>spriteSourceSize</key>
			<string>{73, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{292, 0}, {73, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkF11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 9}, {37, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 85}</string>
			<key>spriteSourceSize</key>
			<string>{73, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{146, 340}, {73, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkF12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 8}, {39, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 85}</string>
			<key>spriteSourceSize</key>
			<string>{73, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{365, 170}, {73, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkF13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 8}, {41, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 85}</string>
			<key>spriteSourceSize</key>
			<string>{73, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{73, 170}, {73, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkF14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 8}, {41, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 85}</string>
			<key>spriteSourceSize</key>
			<string>{73, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{146, 0}, {73, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkF15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 8}, {41, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 85}</string>
			<key>spriteSourceSize</key>
			<string>{73, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{438, 255}, {73, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkF16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 9}, {43, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 85}</string>
			<key>spriteSourceSize</key>
			<string>{73, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{146, 255}, {73, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkN00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 11}, {45, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 85}</string>
			<key>spriteSourceSize</key>
			<string>{73, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{365, 255}, {73, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkN01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 11}, {43, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 85}</string>
			<key>spriteSourceSize</key>
			<string>{73, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{219, 255}, {73, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkN02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 11}, {39, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 85}</string>
			<key>spriteSourceSize</key>
			<string>{73, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{292, 340}, {73, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkN03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 11}, {39, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 85}</string>
			<key>spriteSourceSize</key>
			<string>{73, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{365, 340}, {73, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkN04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 10}, {39, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 85}</string>
			<key>spriteSourceSize</key>
			<string>{73, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {73, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkN05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 10}, {41, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 85}</string>
			<key>spriteSourceSize</key>
			<string>{73, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{219, 0}, {73, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkN06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 11}, {41, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 85}</string>
			<key>spriteSourceSize</key>
			<string>{73, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{438, 0}, {73, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkN07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 11}, {41, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 85}</string>
			<key>spriteSourceSize</key>
			<string>{73, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{219, 340}, {73, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkN08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 12}, {43, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 85}</string>
			<key>spriteSourceSize</key>
			<string>{73, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{438, 170}, {73, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkN09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 12}, {41, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 85}</string>
			<key>spriteSourceSize</key>
			<string>{73, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{292, 85}, {73, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkN10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 12}, {41, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 85}</string>
			<key>spriteSourceSize</key>
			<string>{73, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 340}, {73, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkN11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 12}, {39, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 85}</string>
			<key>spriteSourceSize</key>
			<string>{73, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{365, 85}, {73, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkN12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 11}, {41, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 85}</string>
			<key>spriteSourceSize</key>
			<string>{73, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 170}, {73, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkN13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 11}, {41, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 85}</string>
			<key>spriteSourceSize</key>
			<string>{73, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{73, 340}, {73, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkN14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 11}, {41, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 85}</string>
			<key>spriteSourceSize</key>
			<string>{73, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{73, 255}, {73, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkN15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 11}, {43, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 85}</string>
			<key>spriteSourceSize</key>
			<string>{73, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{292, 170}, {73, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorWalkN16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 11}, {45, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 85}</string>
			<key>spriteSourceSize</key>
			<string>{73, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{292, 255}, {73, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>AllianceMageAttackNF.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>LegionWarriorWalkNF.pvr</string>
			<key>textureFileExtension</key>
			<string>.pvr.ccz</string>
			<key>coordinatesFileName</key>
			<string>LegionWarriorWalkNF</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>