<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>LegionArcherWalkLR00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{85, 74}, {90, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1260, 0}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionArcherWalkLR01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{89, 74}, {86, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 604}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionArcherWalkLR02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{88, 75}, {86, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{252, 604}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionArcherWalkLR03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{90, 74}, {84, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1260, 302}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionArcherWalkLR04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 73}, {84, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionArcherWalkLR05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{97, 71}, {80, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1764, 302}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionArcherWalkLR06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 71}, {82, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{252, 0}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionArcherWalkLR07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{88, 71}, {86, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1764, 0}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionArcherWalkLR08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{84, 72}, {90, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{756, 604}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionArcherWalkLR09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{83, 73}, {90, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1008, 604}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionArcherWalkLR10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{84, 73}, {90, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{504, 0}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionArcherWalkLR11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{88, 74}, {86, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1512, 302}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionArcherWalkLR12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{89, 74}, {84, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{252, 302}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionArcherWalkLR13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{91, 74}, {82, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{504, 302}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionArcherWalkLR14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{94, 73}, {80, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1512, 0}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionArcherWalkLR15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{98, 71}, {76, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{504, 604}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionArcherWalkLR16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{96, 71}, {78, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{756, 0}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionArcherWalkLR17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{88, 71}, {88, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 302}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionArcherWalkLR18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{85, 72}, {90, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1008, 0}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionArcherWalkLR19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{85, 73}, {90, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1008, 302}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionArcherWalkLR20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{85, 74}, {90, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{756, 302}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>LegionArcherWalkLR@2x</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>LegionArcherWalkLR@2x</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>