<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>LegionMageWalkF00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 52}, {92, 140}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1764, 604}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageWalkF01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 50}, {90, 144}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{504, 604}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageWalkF02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{94, 49}, {90, 144}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1008, 302}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageWalkF03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{94, 48}, {90, 146}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{252, 0}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageWalkF04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 47}, {88, 146}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1764, 1208}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageWalkF05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 46}, {86, 146}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{504, 906}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageWalkF06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 46}, {88, 146}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1008, 0}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageWalkF07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{90, 46}, {90, 144}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1260, 1208}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageWalkF08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{84, 46}, {96, 144}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1764, 302}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageWalkF09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{79, 47}, {100, 140}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{252, 302}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageWalkF10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{75, 48}, {104, 140}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 906}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageWalkF11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{74, 47}, {104, 140}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{756, 604}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageWalkF12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{77, 47}, {102, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1512, 906}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageWalkF13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{79, 47}, {100, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1764, 0}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageWalkF14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{83, 46}, {98, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1510}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageWalkF15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{86, 46}, {94, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1512, 302}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageWalkF16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{88, 47}, {94, 140}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{756, 302}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageWalkF17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{91, 48}, {92, 140}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{252, 906}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageWalkF18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 49}, {90, 140}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1512, 0}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageWalkF19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 50}, {90, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1512, 604}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageWalkF20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 52}, {92, 140}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1260, 906}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageWalkN00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{80, 47}, {100, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{252, 604}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageWalkN01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{76, 46}, {104, 140}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageWalkN02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{79, 46}, {100, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1008, 906}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageWalkN03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{82, 46}, {98, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{756, 906}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageWalkN04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{85, 46}, {96, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{252, 1208}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageWalkN05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{87, 46}, {94, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1764, 906}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageWalkN06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{90, 46}, {92, 140}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{504, 302}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageWalkN07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{92, 46}, {90, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{756, 1208}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageWalkN08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 47}, {88, 144}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{504, 1208}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageWalkN09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 49}, {90, 144}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1260, 604}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageWalkN10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{94, 49}, {90, 146}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1008, 1208}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageWalkN11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{92, 49}, {94, 146}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 302}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageWalkN12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{94, 48}, {90, 146}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1208}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageWalkN13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 48}, {90, 146}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1008, 604}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageWalkN14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 47}, {88, 144}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1512, 1208}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageWalkN15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 46}, {88, 144}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1260, 0}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageWalkN16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{91, 46}, {92, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{504, 0}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageWalkN17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{86, 46}, {96, 140}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 604}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageWalkN18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{84, 46}, {96, 140}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{252, 1510}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageWalkN19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{82, 46}, {98, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1260, 302}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionMageWalkN20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{80, 47}, {100, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{756, 0}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>LegionMageWalkNF@2x.pvr</string>
			<key>textureFileExtension</key>
			<string>.pvr.ccz</string>
			<key>coordinatesFileName</key>
			<string>LegionMageWalkNF@2x</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>