<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>LegionWarriorAttackF00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{96, 68}, {98, 124}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{756, 604}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorAttackF01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 69}, {106, 122}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1260, 0}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorAttackF02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 70}, {114, 122}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1208}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorAttackF03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{91, 69}, {116, 122}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1008, 604}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorAttackF04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{90, 67}, {108, 124}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{756, 302}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorAttackF05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{90, 67}, {94, 124}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{504, 604}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorAttackF06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{86, 65}, {86, 126}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 906}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorAttackF07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{57, 61}, {112, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{252, 906}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorAttackF08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{54, 52}, {112, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{252, 302}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorAttackF09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{56, 53}, {114, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1764, 0}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorAttackF10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{60, 57}, {112, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1260, 906}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorAttackF11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{66, 60}, {110, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{504, 302}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorAttackF12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{73, 63}, {106, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorAttackF13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{83, 66}, {100, 126}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{252, 0}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorAttackF14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 66}, {94, 126}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1512, 0}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorAttackF15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 67}, {96, 124}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1764, 604}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorAttackF16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{96, 68}, {98, 124}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1008, 0}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorAttackN00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{100, 60}, {80, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1512, 604}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorAttackN01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 59}, {78, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1008, 302}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorAttackN02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{108, 57}, {76, 140}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1512, 906}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorAttackN03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{108, 58}, {78, 140}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1008, 906}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorAttackN04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{98, 56}, {88, 144}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 604}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorAttackN05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{85, 66}, {98, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{504, 906}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorAttackN06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{62, 76}, {114, 124}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1764, 906}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorAttackN07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 75}, {134, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{756, 0}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorAttackN08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{46, 74}, {134, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 302}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorAttackN09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{50, 72}, {130, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1512, 302}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorAttackN10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{53, 71}, {128, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{252, 1208}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorAttackN11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{58, 69}, {124, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1764, 302}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorAttackN12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{64, 67}, {118, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1260, 604}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorAttackN13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{71, 65}, {112, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{756, 906}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorAttackN14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{80, 63}, {102, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1260, 302}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorAttackN15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{90, 62}, {90, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{504, 0}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LegionWarriorAttackN16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{100, 60}, {80, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 300}</string>
			<key>spriteSourceSize</key>
			<string>{250, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{252, 604}, {250, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>LegionWarriorAttackNF@2x</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>LegionWarriorAttackNF@2x</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>