<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TutorialGuideBadWalkF00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 28}, {86, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{146, 170}</string>
			<key>spriteSourceSize</key>
			<string>{146, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{730, 170}, {146, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TutorialGuideBadWalkF01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 28}, {84, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{146, 170}</string>
			<key>spriteSourceSize</key>
			<string>{146, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{146, 0}, {146, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TutorialGuideBadWalkF02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 27}, {82, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{146, 170}</string>
			<key>spriteSourceSize</key>
			<string>{146, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{438, 680}, {146, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TutorialGuideBadWalkF03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{42, 27}, {80, 140}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{146, 170}</string>
			<key>spriteSourceSize</key>
			<string>{146, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{292, 0}, {146, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TutorialGuideBadWalkF04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{43, 27}, {78, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{146, 170}</string>
			<key>spriteSourceSize</key>
			<string>{146, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{876, 510}, {146, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TutorialGuideBadWalkF05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 26}, {84, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{146, 170}</string>
			<key>spriteSourceSize</key>
			<string>{146, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{146, 510}, {146, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TutorialGuideBadWalkF06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 26}, {92, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{146, 170}</string>
			<key>spriteSourceSize</key>
			<string>{146, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{146, 340}, {146, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TutorialGuideBadWalkF07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 27}, {98, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{146, 170}</string>
			<key>spriteSourceSize</key>
			<string>{146, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{146, 680}, {146, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TutorialGuideBadWalkF08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 28}, {100, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{146, 170}</string>
			<key>spriteSourceSize</key>
			<string>{146, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 510}, {146, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TutorialGuideBadWalkF09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 28}, {100, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{146, 170}</string>
			<key>spriteSourceSize</key>
			<string>{146, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{730, 340}, {146, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TutorialGuideBadWalkF10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 28}, {98, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{146, 170}</string>
			<key>spriteSourceSize</key>
			<string>{146, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{730, 0}, {146, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TutorialGuideBadWalkF11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 28}, {94, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{146, 170}</string>
			<key>spriteSourceSize</key>
			<string>{146, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{730, 510}, {146, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TutorialGuideBadWalkF12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{35, 27}, {86, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{146, 170}</string>
			<key>spriteSourceSize</key>
			<string>{146, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 170}, {146, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TutorialGuideBadWalkF13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{42, 26}, {80, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{146, 170}</string>
			<key>spriteSourceSize</key>
			<string>{146, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{292, 340}, {146, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TutorialGuideBadWalkF14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{41, 26}, {82, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{146, 170}</string>
			<key>spriteSourceSize</key>
			<string>{146, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{584, 0}, {146, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TutorialGuideBadWalkF15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{41, 27}, {82, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{146, 170}</string>
			<key>spriteSourceSize</key>
			<string>{146, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{584, 680}, {146, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TutorialGuideBadWalkF16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 28}, {86, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{146, 170}</string>
			<key>spriteSourceSize</key>
			<string>{146, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{438, 510}, {146, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TutorialGuideBadWalkN00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 26}, {94, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{146, 170}</string>
			<key>spriteSourceSize</key>
			<string>{146, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{584, 170}, {146, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TutorialGuideBadWalkN01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 26}, {94, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{146, 170}</string>
			<key>spriteSourceSize</key>
			<string>{146, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{438, 0}, {146, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TutorialGuideBadWalkN02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 25}, {94, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{146, 170}</string>
			<key>spriteSourceSize</key>
			<string>{146, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{292, 170}, {146, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TutorialGuideBadWalkN03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 25}, {92, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{146, 170}</string>
			<key>spriteSourceSize</key>
			<string>{146, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 340}, {146, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TutorialGuideBadWalkN04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 25}, {88, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{146, 170}</string>
			<key>spriteSourceSize</key>
			<string>{146, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{292, 510}, {146, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TutorialGuideBadWalkN05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{35, 24}, {86, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{146, 170}</string>
			<key>spriteSourceSize</key>
			<string>{146, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{730, 680}, {146, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TutorialGuideBadWalkN06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 24}, {84, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{146, 170}</string>
			<key>spriteSourceSize</key>
			<string>{146, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {146, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TutorialGuideBadWalkN07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{41, 25}, {80, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{146, 170}</string>
			<key>spriteSourceSize</key>
			<string>{146, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{876, 170}, {146, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TutorialGuideBadWalkN08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 26}, {84, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{146, 170}</string>
			<key>spriteSourceSize</key>
			<string>{146, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{146, 170}, {146, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TutorialGuideBadWalkN09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 26}, {82, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{146, 170}</string>
			<key>spriteSourceSize</key>
			<string>{146, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{438, 170}, {146, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TutorialGuideBadWalkN10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{37, 26}, {84, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{146, 170}</string>
			<key>spriteSourceSize</key>
			<string>{146, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{584, 340}, {146, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TutorialGuideBadWalkN11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 25}, {82, 140}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{146, 170}</string>
			<key>spriteSourceSize</key>
			<string>{146, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 680}, {146, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TutorialGuideBadWalkN12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{35, 25}, {84, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{146, 170}</string>
			<key>spriteSourceSize</key>
			<string>{146, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{876, 340}, {146, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TutorialGuideBadWalkN13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 25}, {86, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{146, 170}</string>
			<key>spriteSourceSize</key>
			<string>{146, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{584, 510}, {146, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TutorialGuideBadWalkN14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 24}, {88, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{146, 170}</string>
			<key>spriteSourceSize</key>
			<string>{146, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{292, 680}, {146, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TutorialGuideBadWalkN15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 25}, {92, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{146, 170}</string>
			<key>spriteSourceSize</key>
			<string>{146, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{876, 0}, {146, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TutorialGuideBadWalkN16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 26}, {94, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{146, 170}</string>
			<key>spriteSourceSize</key>
			<string>{146, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{438, 340}, {146, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>TutorialGuideWalkNF@2x.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>TutorialGuideBadWalkNF@2x.pvr</string>
			<key>textureFileExtension</key>
			<string>.pvr.ccz</string>
			<key>coordinatesFileName</key>
			<string>TutorialGuideBadWalkNF@2x</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>